/* Lists */

ul.list li {
    padding:5px 0px;
}

.list-style-a {
    list-style: none;
}

.list-style-a li {
    position: relative;
}

.list-style-a li::before {
    content: "";
    height: 56px;
    left: 0;
    position: absolute;
    width: 56px;
}


/* Utils */
.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* 
    # Icons #
*/

.ico-style-a {
    align-items: center;
    display: flex;
    margin-bottom: 1rem;
}

.ico-style-a.ico-border {
    border: 2px solid #3f2a56;
    border-radius: 5px;
    padding: 20px;
}

.ico-style-a i {
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 60px;
    height: 61px;
    width: 60px;
}

.ico-style-a p {
    margin: 0;
    padding-left: 20px;
}

    /* ICON STYLE A */
    
  .ico-style-a .ico-pencil {
        background-image: url('ico_packs/ico-pencil-style-a.svg');
    }

.card-text .alert p:last-child {
    margin: 0 0 0.4rem 0;
}

.alert-theme-a {
    border-left: 5px solid;
    display: flex;
}
.alert-theme-a.alert-warning.with-ico p:first-child {
    color: #856404;
}

.alert-theme-a.alert-warning {
    border-color: #d19e06;
    color: black;
}
.alert-theme-a.with-ico p:first-child {
    margin: 0.35rem 2.5rem 0 1.3rem;
}

/* 

# Work in progress #

*/

/* 
    Native General styles
*/

h2 {font-size:1.7rem;}

/*
    D2L custom interaction styles
*/
.accordion, .tabs-wrapper {margin-bottom:2rem;}

.tabs-wrapper h2 {
    margin-bottom: 1.5rem !important;
    margin-top: 1rem;
}

/*

 Custom componemnts
    
    #add notification, popup, etc here.

*/

figure.figure-theme-a {
    margin-bottom: 1.5rem;
}
figure.figure-theme-a figcaption {
    font-style: normal;
    padding: 0;
}
figure.figure-theme-a figcaption > span {
    display: block;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 1rem 0;
}

@media screen and (min-width: 768px) {
    figure.figure-theme-a figcaption span {
        font-size: 1.1875rem;
        line-height: 1.75rem;
    }
}

@media only screen and (max-width: 600px) {
  figure.hide-mobile-600 {display:none;}
}

.card-text .alert p:last-child {
    margin: 0 0 0.4rem 0;
}

.alert-theme-a {
    border-left: 5px solid;
    display: flex;
}

.alert-theme-a .fas,
.alert-theme-a .far {
    font-size: 1.7em;
}

.alert-theme-a p {
    margin: 0;
}

.alert-theme-a.with-ico p:first-child {
    margin: 0.35rem 2.5rem 0 1.3rem;
}
.alert-theme-a.alert-small.with-ico p:first-child {
    margin: 0.35rem 2rem 0 1rem;
}

.alert-theme-a.alert-warning {
    border-color: #d19e06;
    color: black;
}

.alert-theme-a.alert-success {
    color: #3C444F;
}

.alert-theme-a.alert-warning.with-ico p:first-child {
    color: #856404;
}

.alert-theme-a .fa-hand-paper {
    color: #004085;
}

@media screen and (max-width: 500px) {
    .alert-theme-a.with-ico p:first-child {
        display: none;
    }
}

/* 
    Utils
*/
.mb-3rem {margin-bottom: 3rem;}
.mt-3rem {margin-top: 3rem;}

/*
    Kaltura full-width video code
*/

.kvideo {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
}

.kvideo iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.card-text .alert p:last-child {
    margin: 0 0 0.4rem 0;
}

.alert-theme-a {
    border-left: 5px solid;
    display: flex;
}
.alert-theme-a.alert-warning.with-ico p:first-child {
    color: #856404;
}

.alert-theme-a.alert-warning {
    border-color: #d19e06;
    color: black;
}
.alert-theme-a.with-ico p:first-child {
    margin: 0.35rem 2.5rem 0 1.3rem;
}
.fullWidth{
min-width:100%;
}